@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

button {
  background: #8b0000 !important;
}

.logo {
  width: 60px;
  height: 60px;
}

#head-page {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("images/akira-wp.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#head-page h1 {
  font-size: 300%;
  text-transform: uppercase;
  margin: 0 0.5em 10em 0;
  border-bottom: 5px solid darkred;
}

#head-page p {
  font-weight: 800;
  font-style: italic;
  width: 60%;
  line-height: 1.5em;
}

#head-page button {
  margin: 3rem auto;
  transition: all ease-in-out 250ms !important;
}

#head-page button:hover {
  background: #fafafa !important;
  color: #8b0000 !important;
}

#section-tools {
  margin: 5rem auto;
}

#section-tools h3 {
  font-family: "Quicksand", sans-serif;
}

#section-tools .icon {
  margin-left: 1rem;
  color: darkred;
}
