@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

button {
  background: #8b0000 !important;
}

.logo {
  width: 60px;
  height: 60px;
}

.icon {
  color: darkred;
}

#head-page {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("images/akira-wp.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#head-page h1 {
  font-size: 300%;
  text-transform: uppercase;
  margin: 0 0.5em 10em 0;
  border-bottom: 5px solid darkred;
}

#head-page p {
  font-size: 110%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#head-page button {
  font-weight: 800;
  margin: 3rem auto;
  transition: all ease-in-out 250ms !important;
}

#head-page button:hover {
  background: #fafafa !important;
  color: #8b0000 !important;
}

#section-tools {
  margin-top: 5rem;
}

#section-tools h3 {
  text-transform: uppercase;
  font-weight: 100;
}

#section-tools p {
  text-align: left;
  margin-top: 1.75rem;
  font-weight: 800;
}
